export DEV_HOME='/c/dev'
export TOOLS_HOME="$DEV_HOME/tool"
export LANG_HOME="$DEV_HOME/lang"
export PROG_64='/c/Program Files'

export SVN_HOME="$PROG_64/SlikSvn"
export MECURIAL_HOME="$PROG_64/Mercurial"
export PATH="$TOOLS_HOME/apache-ant-1.8.4/bin":$PATH
export PATH="$TOOLS_HOME/apache-maven-3.0.4/bin":$PATH
export PATH="$TOOLS_HOME/gradle-1.1/bin":$PATH
export PATH="$TOOLS_HOME/gwt-2.5.0.rc1":$PATH

export PATH="$DEV_HOME/cplusplus/mingw":$PATH

# setup the PATH
export PATH="$PROJECTS/handy-scripts":$PATH
export PATH="$LANG_HOME/groovy-2.0.1/bin":$PATH
export PATH="$LANG_HOME/jruby-1.7.0.preview1/bin":$PATH
export PATH="$CPP_HOME/bin":$PATH
export PATH="$SVN_HOME/bin":$PATH
export PATH=$MECURIAL_HOME:$PATH
