export DEV_HOME='/c/dev'
export PROG_64='/c/Program Files'

export SVN_HOME="$PROG_64/SlikSvn"
export CPP_HOME="$DEV_HOME/cplusplus/Dev-Cpp"

# setup the PATH
export PATH="$PROJECTS/handy-scripts":$PATH
export PATH="$DEV_HOME/groovy/groovy-2.0.1/bin":$PATH
export PATH="$DEV_HOME/ruby/jruby-1.7.0.preview1/bin":$PATH
export PATH="$CPP_HOME/bin":$PATH
export PATH="$SVN_HOME/bin":$PATH
